body {
    background-color: #ffeefe;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.homebanner {
    border: 5px solid #ffd1fc;
    border-radius: 40px;
    height: 200px;
    width: 90%;
    display: block;
    margin: auto;
}

.whitetext {
    color: #ffa9c5;
}

.sec1, .sec2, .sec3, .sec4 {
    margin: auto;
    width: 80%;
    padding: 20px;
}

.sec1, .sec3 {
    border-radius: 40px 0px 0px 40px;
}

.sec2, .sec4 {
    border-radius: 0px 40px 40px 0px;
}

.sec1 {
    background-color: #ffb27a;
    border: 5px solid #ffa056;
}

.fish {
    color: #ffaba1;
}

.sec2 {
    background-color: #ffa9c5;
    border: 5px solid #ff8fb4;
}

.tildes {
    color: #fcafe7;
}

.sec3 {
    background-color: #dcbbff;
    border: 5px solid #ca98ff;
}

.colonthrees {
    color: #b8c7ff;
}

.sec4 {
    background-color: #99d1ff;
    border: 5px solid #75bfff;
}
